.menu{
	width: 100%;
}

.navbar-nav{
	font-size: 25px;
}

.navbar-brand{
	margin-right: 50px;
}

.navbar-expand-lg .navbar-nav .nav-link{
	padding-left: 25px;
	padding-right: 25px;
}
.navbar-img{
	width: 100px;

}

.loginbar .login-link{
	padding-left: 5px;
	padding-right: 5px;
	color: #1d2124;
	text-decoration: none;
	font-size: 20px;
}

.content{
	padding: 20px 20px;
}

.footer{
	margin-top: 30px;
	border: 1px solid;
	color: #ffffff;
	background-color: #000000;
}

.prod-item{
	width: 350px;
	text-align: center;
	padding: 30px 20px;
}

.prod-item-description{
	text-align: center;
}
.prod-item-price{
	text-align: center;
}
.prod-sorter{
	margin-bottom: 80px;
	text-align: center;
	margin-top: 50px;
}

.btn-legend{
	background-color: #5a4a42;
	color: white;
	/*width: 80%;*/
	border: 1px solid #5a4a42;
}

.btn-legend:hover {
	background-color: #efac20;
	color: #1d2124;
	border: 1px solid #efac20;
}

.btn-legend-xsml {
	width: 30%;
}

.btn-legend-sml {
	width: 50%;
}

.btn-legend-def {
	width: 80%;
}

.btn-legend-lrg {
	width: 100%;
}

.card {
	text-align: center;
	border: 1px solid transparent;
	margin-bottom: 50px;
}

.card-title {
	font-size: 18px;
	color: #1d2124;
}

.page-link, .page-link:hover {
	color: #1d2124;
}

.input-legend {
	display: inline-block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem 1.75rem .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	vertical-align: middle;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin-bottom: 15px;
}

.custom-select {
	margin-bottom: 15px;
}

.extra_margin {
	margin-bottom: 10px;
}

.contact-text {
	border: 1px solid #f8f9fa;
	background-color: #f8f9fa;
	padding: 20px;
	list-style-type: none;
	margin-top: 30px;
}

.contact-text li {
	margin-bottom: 10px;
}

.sign-div {
	border: 1px solid gray;
	background-color: #f8f9fa;
	text-align: center;

}
.product-img{
	width: 150px;
	height: 150px;
	margin: 0 auto;
}

.product-item{
	width: 250px;
}

.product-item .proName{
	min-height: 50px;
	width: 100%;
}

/****** Extra small devices   ********/
@media only screen and (max-width: 600px) {
	.sign-div {
		margin: 0;
	}

	.sign-div .col-sm-6 {
		padding: 50px 10px;
	}

	.right-border {
		border-bottom: 1px solid gray;
		margin-bottom: 20px;
	}
}

/******* Small devices      ********/
@media only screen and (min-width: 600px) {
	.sign-div {
		margin: 0;
		padding: 30px 0;
	}

	.sign-div .col-sm-6 {
		padding: 30px 10px;
	}

	.right-border {
		border-right: 1px solid gray;
	}
}

/******* Medium devices      ********/
@media only screen and (min-width: 768px) {
	.sign-div {
		margin: 0;
		padding: 30px 0;
	}

	.sign-div .col-sm-6 {
		padding: 30px 30px;
	}

	.right-border {
		border-right: 1px solid gray;
	}
}

/******* Large devices      ********/
@media only screen and (min-width: 992px) {
	.sign-div {
		margin: 0 10px;
		padding: 30px 0;
	}

	.sign-div .col-sm-6 {
		padding: 30px 30px;
	}

	.right-border {
		border-right: 1px solid gray;
	}
}

/******* Extra large devices      ********/
@media only screen and (min-width: 1200px) {
	.sign-div {
		margin: 0 15%;
		padding: 30px 0;
	}

	.sign-div .col-sm-6 {
		padding: 30px 70px;
	}

	.right-border {
		border-right: 1px solid gray;
	}
}
